$blue-000: rgb(0, 110, 199) ;

$color-scheme: light ;
$body-background-color: $white ;
$body-heading-color: #000 ;
$body-text-color: #000 ;
$link-color: rgb(0, 110, 199);
$nav-child-link-color: $grey-dk-100 ;
$sidebar-color: #F3F2F1 ;
$base-button-color: #c8b600 ;
$btn-primary-color: rgb(0, 110, 199) ;
$code-background-color: $grey-lt-000 ;
$feedback-color: darken($sidebar-color, 3%) ;
$table-background-color: $white ;
$search-background-color: $white ;
$search-result-preview-color: $grey-dk-000 ;